# Setup ZSH Themes
ZSHSetup() {
    if [[ $HOST == "VPN.lan" ]] then
        export ZSH="/Users/adamwolf/.oh-my-zsh"
        ZSH_THEME="powerlevel9k/powerlevel9k"
        plugins=(git)
        source $ZSH/oh-my-zsh.sh
    fi
}

# Update Dotfiles
getDotfiles() {
    echo -e "\e[38;5;214mChecking for updates\e[0m"
    cd ~/.dotfiles

    git fetch --quiet
    if git merge-base --is-ancestor origin/master master; then
        print -P '\e[38;5;76mUp to date!\e[0m'
        sleep 1
        clear
        cd ~
    else
        print -P '\e[38;5;214mUpdating config\e[0m'
        git pull --quiet origin master
        print -P '\e[38;5;220mInstalling plugins\e[0m'
        vim -E -s -u "~/.dotfiles/nvim/init.vim" +PlugInstall +qall
        print -P '\e[38;5;76mDone!\e[0m'
        sleep 1
        clear
        source ~/.zshrc
        cd ~
    fi
}

# Parse Git Branch
parse_git_branch() {
    git branch 2> /dev/null | sed -n -e 's/^\* \(.*\)/(\1)/p'
}

# Run on cd
chpwd() {
    PROMPT=''

    if [ -n "$(parse_git_branch)" ]; then
        if [ -n "$(git status --porcelain)" ]; then
            PROMPT='${COLOR_USR}[wolfy] ▶ ${COLOR_DIR}%1~ ${COLOR_GITDIRTY}$(parse_git_branch)${COLOR_DEF} '$PROMPT
        else
            PROMPT='${COLOR_USR}[wolfy] ▶ ${COLOR_DIR}%1~ ${COLOR_GITCLEAN}$(parse_git_branch)${COLOR_DEF} '$PROMPT
        fi
    else
        PROMPT='${COLOR_USR}[wolfy] ▶ ${COLOR_DIR}%1~ ${COLOR_DEF}'$PROMPT
    fi
}

